@using CRM.Client.Layout

<HeadOutlet />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <p>Page not found.</p>
        </LayoutView>
    </NotFound>
</Router>
